
/* =======================================
*
*   Developed By    :   OrendaX
*   Date            :   2021/08/20
*   Developer       :   Manasha H Perera
*   Client          :   Travel Bag (Pvt) Ltd (BIHAN)
*   Page            :   CSS Styles
*
 ======================================== */

/* ======================= GENERAL STYLES ======================== */

.regular-sm-text{
    font-family: 'robotoregular';
    font-size: 12px;
}

.light-sm-text{
    font-family: 'robotolight';
    font-size: 12px;
}

body{
    font-family: 'robotolight';
    font-size: 14px;
    background-image: url("./images/bg_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.header{
    height:70vh;
}

.main-header{
    font-size: 85px;
    font-family: 'robotomedium';
    line-height: 90px;
}

.sub-header{
    font-size: 35px;
    font-family: 'robotomedium';
    line-height: 45px;
}

.main-paragraph{
    font-size: 2.0rem;
    font-family: 'robotomedium';
    line-height: 40px;
    margin: 75px 10px;
}
.regular-paragraph{
    font-size: 1.25rem;
    font-family: 'robotomedium';
    line-height: 25px;
    text-align: justify;
}

.small-paragraph{
    font-size: 1.00rem;
    font-family: 'robotomedium';
    line-height: 25px;
    text-align: justify;
}

/* ======================= NAVBAR STYLES ======================== */

nav * {
    font-size: 16px;
}

.nav-link.active{
    font-family: 'robotomedium';
    position: relative;
}

.nav-link.active:before {
    content : "";
    position: absolute;
    left:15%;
    right:15%;
    bottom  : 0;
    height  : 1px;
    width   : 70%;  /* or 100px */
    border-bottom:2px solid #ec8d21;
}

.nav-link:hover{
    color : #ec8d21 !important;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right : 2rem;
    padding-left:2rem;
}

/* ======================= FOOTER STYLES ======================== */

footer{
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
}

footer.bg-dark{
    background-color: rgba(40, 27, 12, 0.63) !important;
}

footer img {
    margin-right:30px;
}

/* ======================== BUTTONS =============================== */

.btn{
    box-shadow: 10px 10px 10px 10px #00000040;
}
.btn:hover{
    box-shadow: 10px 10px 10px 10px #00000045;
}
.btn-orange {
    background-color: #ec8d21;
}
.btn-orange:hover {
    background-color: #f19225;
}
.btn-contact {
    width: 150px;
    color: white !important;
    font-family: 'robotoregular';
}  
.btn-contact a{
    color: white !important;
    text-decoration: none;
}

/* ======================== CARDS =============================== */

.bg-dark-transparent{
    background-color: #00000080;
    padding: 25px;
}

/* ======================== FORMS =============================== */

.text-bold{
    font-family: 'robotoregular';
}

.text-light{
    font-family: 'robotolight';
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(236, 141, 33, 0.6);
}

/* ======================== MEDIA QUERIES =============================== */

@media only screen and (max-width: 768px){

    .main-header {
        font-size: 50px;
        line-height: 55px;
        text-align: center;
    }

    .sub-header {
        font-size: 25px;
        line-height: 30px;
        text-align: center;
    }

    .btn-contact{
        margin: 0 auto;
    }

}

@media only screen and (max-width: 992px){

    body{
        height: 100%;
    }

    footer{
        position: relative;
    }

    .nav-link.active:before {
        left: 25px;
        width   : 100px; 
    }

}
